<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wallmob_Wallmob>
            <version>0.1.2</version>
        </Wallmob_Wallmob>
    </modules>
    <global>
        <models>
            <wallmob>
                <class>Wallmob_Wallmob_Model</class>
            </wallmob>
        </models>
        <helpers>
            <wallmob>
                <class>Wallmob_Wallmob_Helper</class>
            </wallmob>
        </helpers>
        <blocks>
            <wallmob>
                <class>Wallmob_Wallmob_Block</class>
            </wallmob>
        </blocks>
        <resources>
            <wallmob_setup>
                <setup>
                    <module>Wallmob_Wallmob</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </wallmob_setup>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <create_wallmob_order>
                        <type>singleton</type>
                        <class>wallmob/observer</class>
                        <method>createWallmobOrder</method>
                    </create_wallmob_order>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <add_wallmob_attribute>
                        <type>singleton</type>
                        <class>wallmob/observer</class>
                        <method>addWallmobAttribute</method>
                    </add_wallmob_attribute>
                </observers>
            </sales_quote_config_get_product_attributes>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wallmob before="Mage_Adminhtml">Wallmob_Wallmob_Adminhtml</wallmob>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <wallmob>
            <api_settings>
                <url>https://www.wallmob.com/api_v2/</url>
                <username></username>
                <password></password>
                <store>0</store>
            </api_settings>
            <import_settings>
                <entities>
                    <vat_rates>wallmob/processor_vat</vat_rates>
                    <product_categories>wallmob/processor_category</product_categories>
                    <products>wallmob/processor_product</products>
                    <stock_values>wallmob/processor_stock</stock_values>
                </entities>
                <default_tax_class>0</default_tax_class>
                <last_updated>0</last_updated>
                <debug_mode>0</debug_mode>
            </import_settings>
            <order_settings>
                <send_email>0</send_email>
            </order_settings>
        </wallmob>
    </default>
    <crontab>
        <jobs>
            <wallmob_import_all>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>wallmob/import::importAll</model>
                </run>
            </wallmob_import_all>
        </jobs>
    </crontab>
</config>
